<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatisplus.demo.mybatisplus.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.mybatisplus.demo.mybatisplus.dao.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_NAME_UUID" jdbcType="VARCHAR" property="userNameUuid" />
    <result column="WE_CHAT_NAME" jdbcType="VARCHAR" property="weChatName" />
    <result column="PHONE_NUMBER" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="IS_DELETED" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, UUID, USER_NAME, USER_NAME_UUID, WE_CHAT_NAME, PHONE_NUMBER, EMAIL, CREATED_AT, 
    UPDATED_AT, CREATED_BY, UPDATED_BY, IS_DELETED
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `user`
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from `user`
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.mybatisplus.demo.mybatisplus.dao.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user` (UUID, USER_NAME, USER_NAME_UUID, 
      WE_CHAT_NAME, PHONE_NUMBER, EMAIL, 
      CREATED_AT, UPDATED_AT, CREATED_BY, 
      UPDATED_BY, IS_DELETED)
    values (#{uuid,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userNameUuid,jdbcType=VARCHAR}, 
      #{weChatName,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{updatedBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.mybatisplus.demo.mybatisplus.dao.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        UUID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userNameUuid != null">
        USER_NAME_UUID,
      </if>
      <if test="weChatName != null">
        WE_CHAT_NAME,
      </if>
      <if test="phoneNumber != null">
        PHONE_NUMBER,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="isDeleted != null">
        IS_DELETED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNameUuid != null">
        #{userNameUuid,jdbcType=VARCHAR},
      </if>
      <if test="weChatName != null">
        #{weChatName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatisplus.demo.mybatisplus.dao.User">
    <!--@mbg.generated-->
    update `user`
    <set>
      <if test="uuid != null">
        UUID = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNameUuid != null">
        USER_NAME_UUID = #{userNameUuid,jdbcType=VARCHAR},
      </if>
      <if test="weChatName != null">
        WE_CHAT_NAME = #{weChatName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        IS_DELETED = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatisplus.demo.mybatisplus.dao.User">
    <!--@mbg.generated-->
    update `user`
    set UUID = #{uuid,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_NAME_UUID = #{userNameUuid,jdbcType=VARCHAR},
      WE_CHAT_NAME = #{weChatName,jdbcType=VARCHAR},
      PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      IS_DELETED = #{isDeleted,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>